[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["pnpm --filter @milanos/shared build", "pnpm --filter @milanos/api build"]
[start]
cmd = "cd apps/api && pnpm run start"
