[phases.setup]
nixPkgs = ["nodejs", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["cd packages/shared && pnpm run build", "cd apps/api && pnpm run build"]

[start]
cmd = "cd apps/api && pnpm run start"
