[phases.setup]
aptPkgs = []
cmds = ["corepack enable", "corepack prepare pnpm@latest --activate"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm run build"]

[start]
cmd = "pnpm run start"
